.feedback_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 23vw;
    height: 14vh;

    position: absolute;
    bottom: 3vh;

    transform: translateY(+100vw);
    transition: all 1s;
}

.feedback_container.active {
    transform: translateY(0);
    transition: all 0.4s;
}

.feedback_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 23vw;
    height: 10vh;
}

.feedback_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 9vh;
    height: 9vh;
    margin: 1vh;

    border-radius: 100%;
    border: 0.2vh solid black;
}

.feedback_icon:hover {
    width: 9.5vh;
    height: 9.5vh;
    cursor: pointer;
}

.cancel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 3vh;
    height: 3vh;
    border-radius: 60px;
    cursor: pointer;

    background: url(/src/icons/cancel.svg) no-repeat;
    background-color: #D0B99E;;
}