
.spells_title {
    font-family: Harry Potter;
    font-size: 13vh;
    line-height: 13vh;
    text-align: center;
    letter-spacing: 0.02em;
}

.spells_main_container {
    position: absolute;
    left: 73.3vh;
    bottom: -68vh;

    width: 75vh;
    height: 100vw;

    display: flex;
    flex-direction: column;

    overflow-x: scroll;
    transform: rotate(-90deg);
}

::-webkit-scrollbar { 
    width: 0px;  
    background: transparent; 
}

.spell {
    width: 25vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transition: all .5s ease;

    margin-left: 10vh;
    margin-top: 4vh;

    transform: rotate(90deg);
}

.card_spell {
    position: relative;
    width: 25vw;
    height: 60vh;
    border-radius: 2vh;
    transition: all 1s ease;
    transform-style: preserve-3d;
}

.side_spell {
    width: 25vw;
    height: 56vh;
    border-radius: 2vh;
    transition: all .3s ease;
    display: block;
    backface-visibility: hidden;
    box-shadow: -2vh 2vh 2vh 0 rgba(0, 0, 0, .8);
}

.front_spell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(247, 241, 232);
}

.video_spell {
    width: 24vw;
    margin: 2vh;
}

.text_spell { 
    font-family: Harry_Potter;
    font-size: 5vh;
    text-align: center;
    letter-spacing: 0.02em;   
    color: #000000; 
}

.text_use { 
    font-size: 2.5vh;
    text-align: center;  
    color: #000000; 
    margin-top: -2vh;
}